<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content=""/>
    <link rel="shortcut icon" href="https://xxlllq.github.io/assets/images/logo/logo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login/style.css}"/>
</head>

<body>
<div id="bg">
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
</div>
<h1>COP系统</h1>
<div class="sub-main-w3">
    <form id="loginFrom" action="/login/submit" method="post">
        <h2>Login
            <i class="fas fa-level-down-alt"></i>
        </h2>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-user"></i>
                账号
            </label>
            <input placeholder="账号" name="code" id="code" type="text" required="">
        </div>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-unlock-alt"></i>
                密码
            </label>
            <input placeholder="密码" name="password" id="password" type="password" required="">
        </div>
        <div class="wthree-text">
            <ul>
                <li>
                    <label class="anim">
                        <input type="checkbox" class="checkbox">
                        <span>记住我</span>
                    </label>
                </li>
                <li>
                    <a href="#">忘记密码</a>
                </li>
            </ul>
        </div>
        <p class="message" id="message" th:text="${msg}"></p>
        <input type="submit" id="btn" value="登 录">
    </form>
</div>

<div class="footer">
    <p>Copyright &copy; 2018.COP.</a>
    </p>
</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/login/canva_moving_effect.js}"></script>
<script>
    //信息保存按钮事件
    $("#btn").click(function () {
        var username = $("#code").val();
        if (!username) {
            $("#code").html("账号不能为空！");
            return false;
        }

        var password = $("#password").val();
        if (!password) {
            $("#message").html("密码不能为空！");
            return false;
        }
        $("#message").html("");
        $("#loginFrom").submit();
    })

</script>

</body>

</html>